darkPrimaryColor =   #455A64
primaryColor =       #607D8B
lightPrimaryColor =  #CFD8DC
textPrimaryColor =   #212121
accentColor =        #03A9F4
primaryTextColor =   #212121
secondaryTextColor = #727272
dividerColor =       #B6B6B6

.newWallpaperPlaceholder
	background accentColor
	height 400px