template(name='setup')
	div(layout, vertical, center, center-justified, fit, style='background-color:#f6f6f6;')
		if currentUser
			h1 Click plus icon to add new wallpaper
		else
			h1 Create an admin account
			p First created account is admin.