@import 'nib'
@import '../styl/colors'

.custom /deep/ ::-webkit-input-placeholder
  color accentColor

.custom /deep/ ::-moz-placeholder
  color accentColor

.custom /deep/ :-ms-input-placeholder
  color accentColor

.custom /deep/ .label-text,
.custom /deep/ .error
  color accentColor

.custom /deep/ .unfocused-underline
  background-color accentColor

.custom[focused] /deep/ .floated-label .label-text
  color accentColor

.custom /deep/ .focused-underline
  background-color accentColor

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error
  color accentColor

.custom.invalid /deep/ .focused-underline
  background-color accentColor

.author 
	color rgba(255,255,255,0.6)
	font-size 12px
	padding-top 10px
	padding-bottom 20px
	
core-icon-button:hover
	background-color rgba(0,0,0,0.3)

core-icon-button#like core-icon
	color #F6402B

core-icon-button
	font-weight: 500

