@import 'nib'
@import '../styl/colors'

#view
  cursor initial

.userCard
  position fixed
  right 60px
  top 60px
  margin-bottom auto
  color white
  z-index 10
  .username
    padding 0px 15px

.userCardBg
  min-height 53px
  margin-top -53px
  background rgba(0,0,0,0.5)
  background-size 100% 100%
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius 2px 2px 2px 2px

.userCardBgOpened
  min-height 53px
  background rgba(0,0,0,0.5)
  background-size 100% 100%
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius 2px 2px 2px 2px
  
#likesScrollArea
  max-height 630px
  overflow-y scroll

.iconToolbar
  padding 5px  

#userCard
  left 50%
  
#likesWrapper
  padding 0px 0px 0px 5px
  
#likeImage
  cursor pointer
  -webkit-animation-duration 0.3s
