@import 'nib'
@import '../styl/colors'

.userCard
  position fixed
  right 40px
  top 40px
  height auto
  z-index 1
  background rgba(0,0,0,0.5)
  background-size 100% 100%
  color white
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius 2px 2px 2px 2px
  .username
    padding 15px 15px 0px 15px
  .icons
    padding 5px