template(name="wallpaperVideo")
	video#video(controls, style="display:none;")
		source(src='{{preview}}', type='video/mp4')
		//- source(src='//demosthenes.info/assets/videos/polina.webm', type='video/webm')
