#videoWrapper
  z-index 1

video#bgvid
  position fixed
  right 0
  bottom 0
  min-width 100%
  min-height 100%
  width auto
  height auto
  background url('jpg/sideface/jpg')
  background-size cover
  // transition 1s opacity