@import '../styl/colors'

.bgImage
  background-repeat no-repeat
  background-attachment fixed
  background-position center top
  background-size cover
  	
core-tooltip.fancy::shadow .core-tooltip {
  opacity: 0;
  -webkit-transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  transition: all 300ms cubic-bezier(0,1.92,.99,1.07);
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
}

core-tooltip:hover::shadow .core-tooltip, core-tooltip:focus::shadow .core-tooltip
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;

paper-ripple
  color white
  
// paper-fab
//   background rgba(255,255,255,1)
//   color primaryTextColor

paper-fab
  background rgba(0,0,0,0.5)
  color white
  
paper-fab::shadow #ripple
  color white

#actionIcons
  position absolute
  left -27px
  bottom 53px
  paper-fab
    margin-top 10px

.smallCard
  z-index 2
  max-width 46%
  -webkit-animation-delay 1s
  -webkit-animation-duration 1s
  position absolute
  left 0px
  bottom 0px
  right auto
  max-height 90%
  margin 60px 60px 60px 60px
  background rgba(0,0,0,0.5)
  color white
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius 2px
  a
    color white
    text-decoration none

.textsScrollWrapper
  position relative
  max-height 600px
  overflow-y scroll

.texts
  padding 20px 40px 20px 40px

@media (max-width: 900px)
  .smallCard
    max-width 100%

.title-class
  font-size 36px
  line-height 46px
  white-space pre-wrap

.title-input-class
  background rgba(0,0,0,0.12)
  color white
  font-size 42px
  font-weight 100
  outline none
  border none
  white-space pre-wrap
  width auto
  
.text-class
  // background red
  font-size 16px
  line-height 24px
  white-space pre-wrap

.text-input-class
  background rgba(0,0,0,0.12)
  color white
  font-size 16px
  outline none
  border none
  white-space: pre-wrap;

.link-input-class
  background accentColor
  font-size 16px
  outline none
  border none

#nextWallpaper
  cursor pointer
  
#commentsWrapper
  // height 200px
  // overflow-x hidden
  // overflow-y scroll
  padding-right 20px
  
.author 
  color rgba(255,255,255,0.6)