template(name='wallpaperImage')
  div#nextWallpaper(layout, vertical, center, center-justified, fit, style='background-color: #f6f6f6;')
    if isInRole 'admin'
      #dropzone(layout, vertical, center, center-justified, fit)
        if file
          .bgImage(fit, style="background-image:url('{{imageUrl file}}');")
            paper-ripple(fit)
        else
          h1 Drop image here
    else
      .bgImage(fit, style="background-image:url('{{imageUrl file}}');")
        paper-ripple(fit)
