template(name="wallpaperVideo")
	#videoWrapper
		video#bgvid(poster='jpg/sideface.jpg', hidden)
			source(src='mp4/birchJourney.mp4', type='video/mp4')
			//- source(src='//demosthenes.info/assets/videos/polina.webm', type='video/webm')
