@import 'nib'
@import '../styl/colors'

body {
  font-family: Roboto;
  font-weight: 300
}

#MongoInspector
  bottom auto
  top 0px
  


#nprogress .bar {
  background accentColor
  height 10px
}


.addWallpaper {
  margin-top 60px
  background: primaryColor
  color white
}

#dropShadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
}

.card {
  display: inline-block;
  background: white;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: -2px;
  padding: 16px;
  border-radius: 0px;
}

// admin

#drawer-panel core-icon {
  margin-right: 10px;
}

core-header-panel {
  background-color lightPrimaryColor
  height: 100%
}

body /deep/ core-toolbar {
  background-color #795548
  color white
}

core-menu, core-animated-pages, core-pages {
  color primaryTextColor
}

paper-item.core-selected 
  color white
  background-color primaryColor
  
paper-item::shadow #ripple {
  color: white;
}

paper-fab::shadow #ripple {
  color white
}
