@import 'nib'
@import '../styl/colors'



.custom /deep/ ::-webkit-input-placeholder
  color accentColor

.custom /deep/ ::-moz-placeholder
  color accentColor

.custom /deep/ :-ms-input-placeholder
  color accentColor

.custom /deep/ .label-text,
.custom /deep/ .error
  color accentColor

.custom /deep/ .unfocused-underline
  background-color accentColor

.custom[focused] /deep/ .floated-label .label-text
  color accentColor

.custom /deep/ .focused-underline
  background-color accentColor

.custom.invalid /deep/ .floated-label .label-text,
.custom /deep/ .error
  color green

.custom.invalid /deep/ .focused-underline
  background-color green

.custom
	padding-bottom 30px

.myComment
	background #fff
	
// .invisible
// 	display none

// .visible
// 	display inherit

.author 
	color dividerColor
	font-size 12px
	padding-top 5px
	padding-bottom 10px

core-icon-button#like core-icon
	color #F6402B

core-icon-button
	font-weight: 500
	
.comments
	.comment
		font-size 16px
		font-weight bold
	.author
		font-size 14px

.title-class
	// background red
	font-size 36px
	line-height 44px
	white-space: pre-wrap;

.title-input-class
	background rgba(200,200,200,0.4)
	font-size 36px
	outline none
	border none
	white-space: pre-wrap;
	
.text-class
	// background red
	font-size 16px
	white-space: pre-wrap;

.text-input-class
	background rgba(200,200,200,0.4)
	font-size 16px
	outline none
	border none
	white-space: pre-wrap;
	
.texts
	padding 20px 40px 20px 40px
	
.wallpaperCard
  margin 60px 94px 0px 6px
  background #FAFAFA
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24)
  border-radius 2px
  > img
    width 100%


