darkPrimaryColor =   #455A64
primaryColor =       #795548
lightPrimaryColor =  #CFD8DC
textPrimaryColor =   #212121
accentColor =        #FFC107
// accentColor =        #FFEB3B
primaryTextColor =   #212121
secondaryTextColor = #727272
dividerColor =       #B6B6B6